[submodule "extras/tests/ircfly"]
	path = extras/tests/ircfly
	url = https://github.com/unrealircd/ircfly.git
[submodule "extras/tests/functional-tests"]
	path = extras/tests/functional-tests
	url = https://github.com/unrealircd/unrealircd-tests.git
