ver2^2
#
# Network Configuration File Template
# -----------------------------------------
#  Added-at:     <day> <month> <year> <hh:dd> GMT
#  Author:       <nick> (<real name>)
#  E-Mail:       <email>
#  $Id$
# -----------------------------------------
# This is a template so you can create your own network configuration files
# Just follow the instructions and it will prolly work ;)
# 0 = No   1 = Yes
# -------------------------------------------------------
#
# These two specify the name of the IRC network, set the same in both fields
Network >..........: 972-Scripterz
Set ircnetwork ....: 972-Scripterz

# This is where your DNS pool is (like irc.dal.net)
Set defserv .......: irc.972-Scripterz.org

# This is the name of your Services Server
Set SERVICES_NAME .: services.972-Scripterz.org

# This is the virtual hostname IRCops will get if iNAH option is enabled
# on oper up
Set oper_host .....: ircop.972-Scripterz.org

# This is the virtual hostname Server Admins will get if iNAH option is enabled
# on oper up
Set admin_host ....: admin.972-Scripterz.org

# This is the virtual hostname Local IRCops will get if iNAH option is enabled
# on oper up

Set locop_host ....: locop.972-Scripterz.org

# This is the virtual hostname Services Operators/Admins will get
# if iNAH option is enabled on oper up

Set sadmin_host ...: serviceop.972-Scripterz.org

# This is the virtual hostname NetAdmins will get
# if iNAH option is enabled on oper up

Set netadmin_host .: netadmin.972-Scripterz.org

# This is the virtual hostname CoAdmins will get
# if iNAH option is enabled on oper up
Set coadmin_host ..: coadmin.972-Scripterz.org


# This is the prefix of the hidden host (cloaking) hostname
Set hidden_host ...: sz
# This is the domain of the IRC network
Set netdomain .....: 972-Scripterz.org
# This is where people can go for help
Set helpchan ......: #972-Scripterz
# This is the name of the stats server
Set STATS_SERVER ..: stats.972-Scripters.org
# -- Not in use--
Set HUB ...........: 0
# This enables the auto-setting of f.x @netadmin.network.net 
# on oper up
Set iNAH ..........: 0
# -- Not in use but still here --
Set net_quit ......: sz
