set {
	network-name		"AltNet IRC";
	default-server		"irc.alternativenet.org";
	services-server		"services.alternativenet.org";
	stats-server		"statistics.alternativenet.org";
	help-channel		"#AltNetHelp";
	hiddenhost-prefix	"altirc";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.alternativenet.org";
		global		"ircop.alternativenet.org";
		coadmin		"coadmin.alternativenet.org";
		admin		"admin.alternativenet.org";
		servicesadmin	"serviceop.alternativenet.org";
		techadmin	"techadmin.alternativenet.org";
		netadmin	"netadmin.alternativenet.org";
		host-on-oper-up	"on";
	};
};
