set {
	network-name		"Auspice";
	default-server		"irc.auspice.org";
	services-server		"Services.auspice.org";
	stats-server		"Services.auspice.org";
	help-channel		"#services";
	hiddenhost-prefix	"khmer";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.auspice.org";
		global		"oper.auspice.org";
		coadmin		"coadmin.auspice.org";
		admin		"admin.auspice.org";
		servicesadmin	"csop.auspice.org";
		techadmin	"techadmin.auspice.org";
		netadmin	"netadmin.auspice.org";
		host-on-oper-up	"off";
	};
};
