ver^2.2
#
# AXEnet (irc.axenet.org) Network Configuration File
# --------------------------------------------------
#

Network >..........: Axenet
Set ircnetwork ....: Axenet
Set defserv .......: irc.axenet.org
Set SERVICES_NAME .: services.axenet.org
Set oper_host .....: ircop.axenet.org
Set admin_host ....: admin.axenet.org
Set locop_host ....: locop.axenet.org
Set sadmin_host ...: csop.axenet.org
Set netadmin_host .: netadmin.axenet.org
Set coadmin_host ..: coadmin.axenet.org
Set hidden_host ...: axe
Set netdomain .....: axenet.org
Set helpchan ......: #axenethelp
Set STATS_SERVER ..: stats.axenet.org
Set HUB ...........: 1
Set iNAH ..........: 1
Set net_quit ......: axe

