/*
 * BitchX (irc.BitchX.cl) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     11 June 2001 15:23
 *  Author: skier
 *  Email: admin@BitchX.cl
 * -----------------------------------------
 */

set {
        network-name            "BitchX";
        default-server          "irc.BitchX.cl";
        services-server         "services.BitchX.cl";
        stats-server            "stats.BitchX.cl";
        help-channel            "#linux";
        hiddenhost-prefix       "bx.owns.you-";
        prefix-quit             "Quit:";
        hosts {
                local           "locop.BitchX.cl";
                global          "Oper.BitchX.cl";
                coadmin         "coadmin.BitchX.cl";
                admin           "Admin.BitchX.cl";
                servicesadmin   "cops.BitchX.cl";
                techadmin       "techadmin.BitchX.cl";
                netadmin        "NETWORK-ADMINISTARTOR.BitchX.cl";
                host-on-oper-up "on";
        };
};
