set {
	network-name		"bunker7";
	default-server		"irc.bunker7.net";
	services-server		"services.bunker7.net";
	stats-server		"stats.bunker7.net";
	help-channel		"#bunker7";
	hiddenhost-prefix	"bunker7";
	prefix-quit		"Quit:";
	hosts {
		local		"local.bunker7.net";
		global		"global.bunker7.net";
		coadmin		"coadmin.bunker7.net";
		admin		"admin.bunker7.net";
		servicesadmin	"sadm.bunker7.net";
		techadmin	"techadmin.bunker7.net";
		netadmin	"netadmin.bunker7.net";
		host-on-oper-up	"off";
	};
};
