set {
	network-name		"CC2";
	default-server		"irc.cc2.org";
	services-server		"services.cc2.org";
	stats-server		"stats.ircnet.org";
	help-channel		"#help";
	hiddenhost-prefix	"user";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.cc2.org";
		global		"ircop.cc2.org";
		coadmin		"coadmin.cc2.org";
		admin		"admin.cc2.org";
		servicesadmin	"services.cc2.org";
		netadmin	"netadmin.cc2.org";
		host-on-oper-up	"on";
	};
};
