set {
	network-name		"ChatPlace";
	default-server		"irc.chatplace.net";
	services-server		"services.chatplace.net";
	stats-server		"stats.chatplace.net";
	help-channel		"#HelpDesk";
	hiddenhost-prefix	"cp";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.chatplace.net";
		global		"oper.chatplace.net";
		coadmin		"coadmin.chatplace.net";
		admin		"admin.chatplace.net";
		servicesadmin	"csop.chatplace.net";
		techadmin	"techadmin.chatplace.net";
		netadmin	"netadmin.chatplace.net";
		host-on-oper-up	"on";
	};
};
