ver^2.2
#
# ChatPlace (irc.chatplace.net) Network Configuration File
# --------------------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@roxnet.org
#  $Id$
# -----------------------------------------
#

Network >..........: ChatPlace
Set ircnetwork ....: ChatPlace
Set defserv .......: irc.chatplace.net
Set SERVICES_NAME .: services.chatplace.net
Set oper_host .....: oper.chatplace.net
Set admin_host ....: admin.chatplace.net
Set locop_host ....: locop.chatplace.net
Set sadmin_host ...: csop.chatplace.net
Set netadmin_host .: netadmin.chatplace.net
Set coadmin_host ..: coadmin.chatplace.net
Set hidden_host ...: cp
Set netdomain .....: chatplace.net
Set helpchan ......: #HelpDesk
Set STATS_SERVER ..: stats.chatplace.net
Set HUB ...........: 1
Set iNAH ..........: 1
Set net_quit ......: CP

