set {
	network-name		"Chatstation";
	default-server		"irc.chatstation.net";
	services-server		"services.chatstation.net";
	stats-server		"stats.Chatstation.Net";
	help-channel		"#Help";
	hiddenhost-prefix	"Chatstation";
	prefix-quit		"Quit:";
	hosts {
		local		"Locop.Chatstation.Net";
		global		"IRCop.Chatstation.Net";
		coadmin		"Coadmin.Chatstation.Net";
		admin		"Admin.Chatstation.Net";
		servicesadmin	"CSops.Chatstation.Net";
		techadmin	"TechAdmin.Chatstation.Net";
		netadmin	"NetAdmin.Chatstation.Net";
		host-on-oper-up	"on";
	};
};
