set {
	network-name		"Darkfyre";
	default-server		"irc.darkfyre.net";
	services-server		"Services.Darkfyre.Net";
	stats-server		"Stats.Darkfyre.Net";
	help-channel		"#help";
	hiddenhost-prefix	"darkfyre";
	prefix-quit		"Quit:";
	hosts {
		local		"LocalOp.Darkfyre.Net";
		global		"IRCop.Darkfyre.Net";
		coadmin		"CoAdmin.Darkfyre.Net";
		admin		"Admin.Darkfyre.Net";
		servicesadmin	"CSop.Darkfyre.Net";
		techadmin	"TechAdmin.Darkfyre.Net";
		netadmin	"NetAdmin.Darkfyre.Net";
		host-on-oper-up	"on";
	};
};
