ver^2.2
#
# Darkwar (irc.darkwar.net) Network Configuration File
# --------------------------------------------------
# Added-at: 22 October 2000 19:40
# Author: stryker
# Email: stryker@darkwar.net
# -----------------------------------------
#

Network >..........: Darkwar
Set ircnetwork ....: Darkwar
Set defserv .......: irc.darkwar.net
Set SERVICES_NAME .: services.darkwar.net
Set oper_host .....: oper.darkwar.net
Set admin_host ....: admin.darkwar.net
Set locop_host ....: locop.darkwar.net
Set sadmin_host ...: csop.darkwar.net
Set netadmin_host .: netadmin.darkwar.net
Set coadmin_host ..: coadmin.darkwar.net
Set hidden_host ...: hide
Set netdomain .....: darkwar.net
Set helpchan ......: #darkwar
Set STATS_SERVER ..: stats.darkwar.net
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use

