/*
 * Dark Core Networks (irc.dark-core.net) Network Configuration File
 *
 * Added-at:     15 July 2001 03:28
 * Author: evilbunny
 * Email: evilbunny@dark-core.net
 */

set {
	network-name "Dark Core Networks";
	default-server "irc.dark-core.net"; 
	services-server "services.dark-core.net";
	stats-server "stats.dark-core.net";
	help-channel "#darkcore";
	hiddenhost-prefix "DCN";
	hosts {
		local "locop.dark-core.net";
		global "oper.dark-core.net";
		coadmin "coadmin.dark-core.net";
		admin "admin.dark-core.net";
		servicesadmin "csop.dark-core.net";
		techadmin "techadmin.dark-core.net";
		netadmin "netadmin.dark-core.net";
		host-on-oper yes;
	};
};
