/*
 * Darkwar (irc.darkwar.net) Network Configuration File
 * --------------------------------------------------
 * Added-at: 22 October 2000 19:40
 * Author: stryker
 * Email: stryker@darkwar.net
 * -----------------------------------------
 */

set {
	network-name		"Darkwar";
	default-server		"irc.darkwar.net";
	services-server		"services.darkwar.net";
	stats-server		"stats.darkwar.net";
	help-channel		"#darkwar";
	hiddenhost-prefix	"hide";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.darkwar.net";
		global		"oper.darkwar.net";
		coadmin		"coadmin.darkwar.net";
		admin		"admin.darkwar.net";
		servicesadmin	"csop.darkwar.net";
		techadmin	"techadmin.darkwar.net";
		netadmin	"netadmin.darkwar.net";
		host-on-oper-up	"on";
	};
};
