set {
	network-name		"Data-Storm";
	default-server		"irc.data-storm.net";
	services-server		"services.data-storm.net";
	stats-server		"stats.data-storm.net";
	help-channel		"#help";
	hiddenhost-prefix	"ownedbyj00";
	prefix-quit		"Quit:";
	hosts {
		local		"oper.root.net";
		global		"oper.root.net";
		coadmin		"oper.root.net";
		admin		"oper.root.net";
		servicesadmin	"oper.root.net";
		techadmin	"oper.root.net";
		netadmin	"oper.god.net";
		host-on-oper-up	"off";
	};
};
