ver^2.2
#
# Data-Storm (irc.data-storm.net) Network Configuration File
# --------------------------------------------------
# Added-at: 05 November 2000 13:42
# Author: data-genius
# Email: dg@data-storm.net
# -----------------------------------------
#

Network >..........: Data-Storm
Set ircnetwork ....: Data-Storm
Set defserv .......: irc.data-storm.net
Set SERVICES_NAME .: services.data-storm.net
Set oper_host .....: oper.root.net
Set admin_host ....: oper.root.net
Set locop_host ....: oper.root.net
Set sadmin_host ...: oper.root.net
Set netadmin_host .: oper.god.net
Set coadmin_host ..: oper.root.net
Set techadmin_host : oper.root.net
Set hidden_host ...: ownedbyj00
Set netdomain .....: data-storm.net
Set helpchan ......: #help
Set STATS_SERVER ..: stats.data-storm.net
Set HUB ...........: not_in_use
Set iNAH ..........: 0
Set net_quit ......: not_in_use



