set {
	network-name		"digital-irc.net";
	default-server		"irc.digital-irc.net";
	services-server		"services.digital-irc.net";
	stats-server		"stats.digital-irc.net";
	help-channel		"#Digital-IRC";
	hiddenhost-prefix	"digital-irc";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.digital-irc.net";
		global		"ircop.digital-irc.net";
		coadmin		"coadmin.digital-irc.net";
		admin		"admin.digital-irc.net";
		servicesadmin	"serviceop.digital-irc.net";
		techadmin	"techadmin.digital-irc.net";
		netadmin	"netadmin.digital-irc.net";
		host-on-oper-up	"off";
	};
};
