ver^2.2
#
# DragonWings.org Network Configuration File
# -----------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@global-irc.net
#  $Id$
# -----------------------------------------
#

Network >..........: DragonWings
Set ircnetwork ....: DragonWings
Set defserv .......: irc.dragonwings.org
Set SERVICES_NAME .: saturn.dragonwings.org
Set oper_host .....: ircop.dragonwings.org
Set admin_host ....: admin.dragonwings.org
Set locop_host ....: locop.dragonwings.org
Set sadmin_host ...: serviceop.dragonwings.org
Set netadmin_host .: netadmin.dragonwings.org
Set coadmin_host ..: coadmin.dragonwings.org
Set hidden_host ...: dw
Set netdomain .....: dragonwings.org
Set helpchan ......: #DragonWings
Set STATS_SERVER ..: stats.dragonwings.org
Set HUB ...........: 1
Set iNAH ..........: 0
Set net_quit ......: DW
