set {
	network-name		"FireIRC";
	default-server		"irc.FireIRC.Net";
	services-server		"services.FireIRC.Net";
	stats-server		"stats.FireIRC.Net";
	help-channel		"#Services";
	hiddenhost-prefix	"FireIRC";
	prefix-quit		"Quit:";
	hosts {
		local		"localOP.FireIRC.Net";
		global		"ircOP.FireIRC.Net";
		coadmin		"CoADMIN.FireIRC.Net";
		admin		"Admin.FireIRC.Net";
		servicesadmin	"serviceOP.FireIRC.Net";
		netadmin	"NetADMIN.FireIRC.Net";
		host-on-oper-up	"off";
	};
};
