/*
 * FriendlyIRC (irc.friendlyirc.net) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     13 January 2001 18:19
 *  Author: Shukie
 *  Email: shukuwolf@glacierwinds.com
 * -----------------------------------------
 */

set {
        network-name            "FriendlyIRC";
        default-server          "irc.friendlyirc.net";
        services-server         "services.friendlyirc.net";
        stats-server            "stats.friendlyirc.net";
        help-channel            "#HelpDesk";
        hiddenhost-prefix       "FriendlyIRC";
        prefix-quit             "Quit:";
        hosts {
                local           "locop.friendlyirc.net";
                global          "oper.friendlyirc.net";
                coadmin         "coadmin.friendlyirc.net";
                admin           "admin.friendlyirc.net";
                servicesadmin   "csop.friendlyirc.net";
                netadmin        "netadmin.friendlyirc.net";
                host-on-oper-up "on";
        };
};
