/*
 * Gerid.Net (pi.gerid.net) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     31 January 2001 13:22
 *  Author: Pi
 *  Email: support@gerid.net
 * -----------------------------------------
 */

set {
        network-name            "Gerid.Net";
        default-server          "pi.gerid.net";
        services-server         "services.gerid.net";
        stats-server            "stats.gerid.net";
        help-channel            "#help";
        hiddenhost-prefix       "gerid";
        prefix-quit             "Quit:";
        hosts {
                local           "localized.killing.spr.ee";
                global          "is.a.bad.motherfucker.org";
                coadmin         "helps.kill.your.ass";
                admin           "owns.you";
                servicesadmin   "will.kill.your.ass";
                techadmin       "will.detached.your.ass";
                netadmin        "will.crucify.you";
                host-on-oper-up "on";
        };
};
