ver^2.2
#
# Network Configuration File Template
# -----------------------------------------
#  Added-at:     <Monday> <August> <2000>
#  Author:       Anonymos
#  E-Mail:       Anonymos@Global-IRC.de
#  $Id$
# -----------------------------------------
# This is a template so you can create your own network configuration files
# Just follow the instructions and it will prolly work ;)
# 0 = No   1 = Yes
# -------------------------------------------------------
#
# These two specify the name of the IRC network, set the same in both fields
Network >..........: IRC
Set ircnetwork ....: Global

# This is where your DNS pool is (like irc.dal.net)
Set defserv .......: IRC.Global-IRC.de

# This is the name of your Services Server
Set SERVICES_NAME .: Service.Global-IRC.de

# This is the virtual hostname IRCops will get if iNAH option is enabled
# on oper up
Set oper_host .....: Global-IRC-OP.Global-IRC.de

# This is the virtual hostname Server Admins will get if iNAH option is enabled
# on oper up
Set admin_host ....: ServerAdmin.Global-IRC.de

# This is the virtual hostname Local IRCops will get if iNAH option is enabled
# on oper up

Set locop_host ....: Local-IRC-OP.Global-IRC.de

# This is the virtual hostname Services Operators/Admins will get
# if iNAH option is enabled on oper up

Set sadmin_host ...: ServiceAdmin.Global-IRC.de

# This is the virtual hostname NetAdmins will get
# if iNAH option is enabled on oper up

Set netadmin_host .: NetworkAdmin.Global-IRC.de

# This is the virtual hostname CoAdmins will get
# if iNAH option is enabled on oper up
Set coadmin_host ..: CoAdmin.Global-IRC.de


# This is the prefix of the hidden host (cloaking) hostname
Set hidden_host ...: GL-IRC
# This is the domain of the IRC network
Set netdomain .....: Global-IRC.de
# This is where people can go for help
Set helpchan ......: #Global-IRC-World
# This is the name of the stats server
Set STATS_SERVER ..: Stats.Global-IRC.de
# -- Not in use--
Set HUB ...........: 0
# This enables the auto-setting of f.x @ServerAdmin.Global-IRC.de
# on oper up
Set iNAH ..........: 1
# -- Not in use but still here --
Set net_quit ......: GL
