ver^2.2
#
# German-Elite (irc.german-elite.net) Network Configuration File
# -----------------------------------------
#

Network >..........: German-Elite
Set ircnetwork ....: German-Elite
Set defserv .......: irc.german-elite.net
Set SERVICES_NAME .: services.german-elite.net
Set oper_host .....: ircop.german-elite.net
Set admin_host ....: admin.german-elite.net
Set locop_host ....: locop.german-elite.net
Set sadmin_host ...: csop.german-elite.net
Set netadmin_host .: netadmin.german-elite.net
Set coadmin_host ..: coadmin.german-elite.net
Set techadmin_host : techadmin.german-elite.net
Set hidden_host ...: GE
Set netdomain .....: german-elite.net
Set helpchan ......: #german-elite
Set STATS_SERVER ..: stats.german-elite.net
Set HUB ...........: 1
Set iNAH ..........: 1
Set net_quit ......: GE

