/*
 * Global-IRC.net Network Configuration File
 * -----------------------------------------
 *  Added-at:     14 July 1999 00:00 GMT
 *  Author:       Stskeeps (Carsten Munk)
 *  E-Mail:       stskeeps@global-irc.net
 *  $Id$
 * -----------------------------------------
 */

set {
	network-name		"Global-IRC";
	default-server		"irc.global-irc.net";
	services-server		"services.global-irc.net";
	stats-server		"stats.global-irc.net";
	help-channel		"#Global";
	hiddenhost-prefix	"global";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.global-irc.net";
		global		"ircop.global-irc.net";
		coadmin		"coadmin.global-irc.net";
		admin		"admin.global-irc.net";
		servicesadmin	"serviceop.global-irc.net";
		techadmin	"techadmin.global-irc.net";
		netadmin	"netadmin.global-irc.net";
		host-on-oper-up	"off";
	};
};
