/*
 * Globo (irc.globo.ircweb.com.br) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     23 maio 2001 05:02
 *  Author: Titan
 *  Email: globo@ircweb.com.br
 * -----------------------------------------
 */

set {
        network-name            "Globo";
        default-server          "irc.globo.ircweb.com.br";
        services-server         "services.globo.com.br";
        stats-server            "stats.globo.com.br";
        help-channel            "#ajuda";
        hiddenhost-prefix       "hide";
        prefix-quit             "Quit:";
        hosts {
                local           "locop.globo.com.br";
                global          "oper.globo.com.br";
                coadmin         "coadmin.globo.com.br";
                admin           "admin.globo.com.br";
                servicesadmin   "csop.globo.com.br";
                netadmin        "netadmin.globo.com.br";
                host-on-oper-up "on";
        };
};
