ver^2.2
#
# Global-IRC.net Network Configuration File
# -----------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@global-irc.net
#  $Id$
# -----------------------------------------
#

Network >..........: Global-IRC
Set ircnetwork ....: Global-IRC
Set defserv .......: irc.global-irc.net
Set SERVICES_NAME .: services.global-irc.net
Set oper_host .....: ircop.global-irc.net
Set admin_host ....: admin.global-irc.net
Set locop_host ....: locop.global-irc.net
Set sadmin_host ...: serviceop.global-irc.net
Set netadmin_host .: netadmin.global-irc.net
Set coadmin_host ..: coadmin.global-irc.net
Set techadmin_host : techadmin.global-irc.net
Set hidden_host ...: global
Set netdomain .....: global-irc.net
Set helpchan ......: #Global
Set STATS_SERVER ..: stats.global-irc.net
Set HUB ...........: 1
Set iNAH ..........: 0
Set net_quit ......: GI
