ver^2.2
#
# Global-IRC.net Network Configuration File
# -----------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@global-irc.net
#  $Id$
# -----------------------------------------
#

Network >..........: Infinity-IRC.org
Set ircnetwork ....: Infinity-IRC.org
Set defserv .......: irc.infinity-irc.org
Set SERVICES_NAME .: services.infinity-irc.org
Set oper_host .....: IRCop.Infinity-IRC.org
Set admin_host ....: IRCop-Admin.Infinity-IRC.org
Set locop_host ....: LOCop.Infinity-IRC.org
Set sadmin_host ...: IRCop-ServiceAdmin.Infinity-IRC.org
Set netadmin_host .: IRCop-NetAdmin.Infinity-IRC.org
Set coadmin_host ..: IRCop-CoAdmin.Infinity-IRC.org
Set techadmin_host : IRCop-TechAdmin.Infinity-IRC.org
Set hidden_host ...: Infinity
Set netdomain .....: Infinity-IRC.org
Set helpchan ......: #Infinity
Set STATS_SERVER ..: stats.infinity-irc.org
Set HUB ...........: 1
Set iNAH ..........: 1
Set net_quit ......: IN
