set {
	network-name		"InterTurk";
	default-server		"irc.interturk.net";
	services-server		"services.egenet.com.tr";
	stats-server		"stats.interturk.net";
	help-channel		"#Help";
	hiddenhost-prefix	"InterTurk";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.interturk.net";
		global		"ircop.interturk.net";
		coadmin		"coadmin.interturk.net";
		admin		"admin.interturk.net";
		servicesadmin	"csops.interturk.net";
		techadmin	"techadmin.interturk.net";
		netadmin	"netadmin.interturk.net";
		host-on-oper-up	"off";
	};
};
