ver^2.2
#
# ROXnet (irc.rox.za.net) Network Configuration File
# --------------------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@roxnet.org
#  $Id$
# -----------------------------------------
#

Network >..........: InterTurk
Set ircnetwork ....: InterTurk
Set defserv .......: irc.interturk.net
Set SERVICES_NAME .: services.egenet.com.tr
Set oper_host .....: ircop.interturk.net
Set admin_host ....: admin.interturk.net
Set locop_host ....: locop.interturk.net
Set sadmin_host ...: csops.interturk.net
Set netadmin_host .: netadmin.interturk.net
Set coadmin_host ..: coadmin.interturk.net
Set hidden_host ...: InterTurk
Set netdomain .....: interturk.net
Set helpchan ......: #Help
Set STATS_SERVER ..: stats.interturk.net
Set HUB ...........: 1
Set iNAH ..........: 0
Set net_quit ......: iN
