ver^2.2
#
# IRCChat (irc.irc-chat.net) Network Configuration File
# --------------------------------------------------
#  Added-at:     29 November 2000 15:49
#  Author:       TheRock
#  Email:        unit649@unit649.net
# -----------------------------------------
#
 
Network >..........: IRCChat
Set ircnetwork ....: IRCChat
Set defserv .......: irc.irc-chat.net
Set SERVICES_NAME .: services.irc-chat.net
Set oper_host .....: oper.irc-chat.net
Set admin_host ....: admin.irc-chat.net
Set locop_host ....: locop.irc-chat.net
Set sadmin_host ...: csop.irc-chat.net
Set netadmin_host .: netadmin.irc-chat.net
Set coadmin_host ..: coadmin.irc-chat.net
Set hidden_host ...: irc
Set netdomain .....: irc-chat.net
Set helpchan ......: #irc-chat
Set STATS_SERVER ..: stats.irc-chat.net
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use
