/*
 * IRC4ever.net (irc.IRC4ever.net) Network Configuration File
 *
 * Added-at:     18 August 2001 13:33
 * Author: [KrEciK]
 * Email: krecik@IRC4ever.net
 */

set {
network-name "IRC4ever.net";
default-server "irc.IRC4ever.net"; 
services-server "Services.IRC4ever.net";
stats-server "Stats.IRC4ever.net";
help-channel "#Pomoc";
hiddenhost-prefix "I4e";
hosts {
local "IRC4ever.net";
global "IRC4ever.net";
coadmin "IRC4ever.net";
admin "IRC4ever.net";
servicesadmin "IRC4ever.net";
netadmin "IRC4ever.net";
host-on-oper yes;
};
};

