/*
 * IRCLatino (irc.redperu.com) Network Configuration File
 * --------------------------------------------------
 * Added-at:     30 May 2001 22:09
 *  Author: Tek
 *  Email: aleph@w-link.net
 * -----------------------------------------
 */

set {
        network-name            "IRCLatino";
        default-server          "irc.redperu.com";
        services-server         "services.united-irc.net";
        stats-server            "stats.irclatino.org";
        help-channel            "#Services";
        hiddenhost-prefix       "IRCLatino";
        prefix-quit             "Quit:";
        hosts {
                local           "Local-operator.irclatino.org";
                global          "irc-operator.irclatino.org";
                coadmin         "Co-Admin.irclatino.org";
                admin           "server-admin.irclatino.org";
                servicesadmin   "services-operator.irclatino.org";
                netadmin        "NetAdmin.irclatino.org";
                host-on-oper-up "on";
        };
};
