set {
	network-name		"IRCThai.com";
	default-server		"irc.ircthai.com";
	services-server		"services.ircthai.com";
	stats-server		"stats.ircthai.com";
	help-channel		"#ThaiHelp";
	hiddenhost-prefix	"IRCThai";
	prefix-quit		"Quit:";
	hosts {
		local		"LOCop.ircthai.com";
		global		"IRCop.ircthai.com";
		coadmin		"CoAdmin.ircthai.com";
		admin		"Admin.ircthai.com";
		servicesadmin	"ServiceAdmin.ircthai.com";
		techadmin	"TechAdmin.ircthai.com";
		netadmin	"NetAdmin.ircthai.com";
		host-on-oper-up	"on";
	};
};
