set {
	network-name		"IsraelNet";
	default-server		"irc.israel.net";
	services-server		"services.israel.net";
	stats-server		"stats.israel.net";
	help-channel		"#OperHelp";
	hiddenhost-prefix	"israel";
	prefix-quit		"Quit:";
	hosts {
		local		"LocOP.Israel.Net";
		global		"Oper.Israel.Net";
		coadmin		"CoAdmin.Israel.Net";
		admin		"Admin.Israel.Net";
		servicesadmin	"CSop.Israel.Net";
		techadmin	"TechAdmin.Israel.Net";
		netadmin	"NetAdmin.Israel.Net";
		host-on-oper-up	"on";
	};
};
