set {
	network-name		"KammTecH";
	default-server		"irc.kammtech.dhs.org";
	services-server		"services.kammtech.dhs.org";
	stats-server		"stats.kammtech.dhs.org";
	help-channel		"#KammTecH";
	hiddenhost-prefix	"kammtech";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.kammtech.dhs.org";
		global		"ircop.kammtech.dhs.org";
		coadmin		"coadmin.kammtech.dhs.org";
		admin		"admin.kammtech.dhs.org";
		servicesadmin	"serviceop.kammtech.dhs.org";
		techadmin	"techadmin.kammtech.dhs.org";
		netadmin	"netadmin.kammtech.dhs.org";
		host-on-oper-up	"on";
	};
};
