
#
# KissLand IRC Network Configuration File
# -----------------------------------------
#  Author:       Plague33 (Frank Laszlo)
#  E-Mail:       plague33@premis.lod.com
#
# -----------------------------------------
#     


Network >..........: Kissland
Set ircnetwork ....: Kissland
Set defserv .......: irc.Kissland.Com
Set SERVICES_NAME .: Services.Kissland.Com
Set oper_host .....: IRCop.Kissland.Com
Set admin_host ....: Admin.Kissland.Com
Set locop_host ....: Oper.Kissland.Com
Set sadmin_host ...: Services.Admin.Kissland.Com
Set netadmin_host .: Network.Admin.Kissland.Com
Set coadmin_host ..: Co.Admin.Kissland.Com
Set techadmin_host : Technical.Admin.Kissland.Com
Set hidden_host ...: Kiss
Set netdomain .....: Kissland.Com
Set helpchan ......: #Services
Set STATS_SERVER ..: Stats.Kissland.Com
Set HUB ...........: 1
Set iNAH ..........: 1
Set net_quit ......: KL
