ver^2.2
#
# lamenet.net (irc.lamenet.net) Network Configuration File
# --------------------------------------------------
# Added-at: 16 November 2000 10:40
# Author: Reptilezen
# Email: xtekcor@hotmail.com <mailto:xtekcor@hotmail.com>
# -----------------------------------------
#

Network >..........: lamenet.net
Set ircnetwork ....: lamenet.net
Set defserv .......: irc.lamenet.net
Set SERVICES_NAME .: services.lamenet.net
Set oper_host .....: oper.mynet.org
Set admin_host ....: admin.mynet.org
Set locop_host ....: biglamer.lamenet.net
Set sadmin_host ...: csop.lamenet.net
Set netadmin_host .: netadmin.lamenet.net
Set coadmin_host ..: coadmin
Set techadmin_host : techadmin.lamenet.net
Set hidden_host ...: hiddenhost
Set netdomain .....: lamenet.net
Set helpchan ......: #Services
Set STATS_SERVER ..: stats.lamenet.net
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use

