set {
	network-name		"lamenet.net";
	default-server		"irc.lamenet.net";
	services-server		"services.lamenet.net";
	stats-server		"stats.lamenet.net";
	help-channel		"#Services";
	hiddenhost-prefix	"hiddenhost";
	prefix-quit		"Quit:";
	hosts {
		local		"biglamer.lamenet.net";
		global		"oper.mynet.org";
		coadmin		"coadmin";
		admin		"admin.mynet.org";
		servicesadmin	"csop.lamenet.net";
		techadmin	"techadmin.lamenet.net";
		netadmin	"netadmin.lamenet.net";
		host-on-oper-up	"on";
	};
};
