set {
	network-name		"LinuxSquare";
	default-server		"Irc.LinuxSquare.Net";
	services-server		"Services.CA.US.LinuxSquare.Net";
	stats-server		"Stats.CA.US.LinuxSquare.Net";
	help-channel		"#HelpDesk";
	hiddenhost-prefix	"LinuxSquare";
	prefix-quit		"Quit:";
	hosts {
		local		"TrainingOp.LinuxSquare.Net";
		global		"GlobalOp.LinuxSquare.Net";
		coadmin		"CoAdmin.LinuxSquare.Net";
		admin		"Admin.LinuxSquare.Net";
		servicesadmin	"ServicesAdmin.LinuxSquare.Net";
		techadmin	"TechAdmin.LinuxSquare.Net";
		netadmin	"NetAdmin.LinuxSquare.Net";
		host-on-oper-up	"off";
	};
};
