ver^2.2

Network >..........: Linuxactive
Set ircnetwork ....: Linuxactive
Set defserv .......: irc.linuxactive.net
Set SERVICES_NAME .: services.linuxactive.net
Set oper_host .....: ircop.linuxactive.net
Set admin_host ....: admin.linuxactive.net
Set locop_host ....: locop.linuxactive.net
Set sadmin_host ...: csops.linuxactive.net
Set netadmin_host .: netadmin.linuxactive.net
Set coadmin_host ..: coadmin.linuxactive.net
Set techadmin_host : techadmin.linuxactive.net
Set hidden_host ...: LinuxActive
Set netdomain .....: linuxactive.net
Set helpchan ......: #Linux
Set STATS_SERVER ..: stats.linuxactive.net
Set HUB ...........: 1
Set iNAH ..........: 0
Set net_quit ......: TR
