ver^2.2
Network >..........: LinuxSquare
Set ircnetwork ....: LinuxSquare
Set defserv .......: Irc.LinuxSquare.Net
Set SERVICES_NAME .: Services.CA.US.LinuxSquare.Net
Set oper_host .....: GlobalOp.LinuxSquare.Net
Set admin_host ....: Admin.LinuxSquare.Net
Set locop_host ....: TrainingOp.LinuxSquare.Net
Set sadmin_host ...: ServicesAdmin.LinuxSquare.Net
Set netadmin_host .: NetAdmin.LinuxSquare.Net
Set coadmin_host ..: CoAdmin.LinuxSquare.Net
Set techadmin_host : TechAdmin.LinuxSquare.Net
Set hidden_host ...: LinuxSquare
Set netdomain .....: LinuxSquare.Net
Set helpchan ......: #HelpDesk
Set STATS_SERVER ..: Stats.CA.US.LinuxSquare.Net
Set HUB ...........: 1
Set iNAH ..........: 0
Set net_quit ......: LS
