set {
	network-name		"Linuxactive";
	default-server		"irc.linuxactive.net";
	services-server		"services.linuxactive.net";
	stats-server		"stats.linuxactive.net";
	help-channel		"#Linux";
	hiddenhost-prefix	"LinuxActive";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.linuxactive.net";
		global		"ircop.linuxactive.net";
		coadmin		"coadmin.linuxactive.net";
		admin		"admin.linuxactive.net";
		servicesadmin	"csops.linuxactive.net";
		techadmin	"techadmin.linuxactive.net";
		netadmin	"netadmin.linuxactive.net";
		host-on-oper-up	"off";
	};
};
