/*
 * MaxatNet (irc.maxat.net) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     12 January 2001 23:35
 *  Author: Leo
 *  Email: anders-ove@anders-ove.net
 * -----------------------------------------
 */

set {
        network-name            "MaxatNet";
        default-server          "irc.maxat.net";
        services-server         "services.maxat.net";
        stats-server            "stats.maxat.net";
        help-channel            "#help";
        hiddenhost-prefix       "hide";
        prefix-quit             "Quit:";
        hosts {
                local           "locop.hub.no.maxat.net";
                global          "oper.hub.no.maxat.net";
                coadmin         "coadmin.hub.no.maxat.net";
                admin           "admin.hub.no.maxat.net";
                servicesadmin   "csop.hub.no.maxat.net";
                techadmin       "techadmin.hub.no.maxat.net";
                netadmin        "netadmin.hub.no.maxat.net";
                host-on-oper-up "off";
        };
};
