set {
	network-name		"MegaIRC";
	default-server		"irc.MegaIRC.Net";
	services-server		"Services.MegaIRC.Net";
	stats-server		"Stats.MegaIRC.Net";
	help-channel		"#helpdesk";
	hiddenhost-prefix	"mega";
	prefix-quit		"Quit:";
	hosts {
		local		"Local-Ircop.MegaIRC.Net";
		global		"Ircop.MegaIRC.Net";
		coadmin		"Server-CoAdmin.MegaIRC.Net";
		admin		"Server-Admin.MegaIRC.Net";
		servicesadmin	"SOP.MegaIRC.Net";
		techadmin	"TechAdmin.MegaIRC.Net";
		netadmin	"NetAdmin.MegaIRC.Net";
		host-on-oper-up	"on";
	};
};
