set {
	network-name		"Mp3FansNet";
	default-server		"irc.mp3fans.net";
	services-server		"services.mp3fans.net";
	stats-server		"stats.mp3fans.net";
	help-channel		"#Mp3Fans";
	hiddenhost-prefix	"mpx";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.mp3fans.net";
		global		"ircop.mp3fans.net";
		coadmin		"coadmin.mp3fans.net";
		admin		"admin.mp3fans.net";
		servicesadmin	"serviceop.mp3fans.net";
		techadmin	"techadmin.mp3fans.net";
		netadmin	"netadmin.mp3fans.net";
		host-on-oper-up	"off";
	};
};
