ver^2.2
#
# Mp3Fans.net Network Configuration File
# -----------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@global-irc.net
#  $Id$
# -----------------------------------------
#

Network >..........: Mp3FansNet
Set ircnetwork ....: Mp3FansNet
Set defserv .......: irc.mp3fans.net
Set SERVICES_NAME .: services.mp3fans.net
Set oper_host .....: ircop.mp3fans.net
Set admin_host ....: admin.mp3fans.net
Set locop_host ....: locop.mp3fans.net
Set sadmin_host ...: serviceop.mp3fans.net
Set netadmin_host .: netadmin.mp3fans.net
Set coadmin_host ..: coadmin.mp3fans.net
Set hidden_host ...: mpx
Set netdomain .....: mp3fans.net
Set helpchan ......: #Mp3Fans
Set STATS_SERVER ..: stats.mp3fans.net
Set HUB ...........: 1
Set iNAH ..........: 0
Set net_quit ......: m3
