set {
	network-name		"Music-ChatNET";
	default-server		"Irc.Music-ChatNET.Com";
	services-server		"Services.Music-ChatNET.Com";
	stats-server		"Stats.Music-ChatNET.Com";
	help-channel		"#Music-Chat";
	hiddenhost-prefix	"MCN";
	prefix-quit		"Quit:";
	hosts {
		local		"LOcop.Music-ChatNET.Com";
		global		"IRCop.Music-ChatNET.Com";
		coadmin		"CoAdmin.Music-ChatNET.Com";
		admin		"Admin.Music-ChatNET.Com";
		servicesadmin	"CSop.Music-ChatNET.Com";
		techadmin	"TechAdmin.Music-ChatNET.Com";
		netadmin	"NetAdmin.Music-ChatNET.Com";
		host-on-oper-up	"on";
	};
};
