set {
	network-name		"NeoHorizon";
	default-server		"irc.nhn.net";
	services-server		"services.nhn.net";
	stats-server		"stats.nhn.net";
	help-channel		"#neohorizon";
	hiddenhost-prefix	"Neo";
	prefix-quit		"Quit:";
	hosts {
		local		"Locop.nhn.net";
		global		"IRCop.nhn.net";
		coadmin		"Co-Admin.nhn.net";
		admin		"Admin.nhn.net";
		servicesadmin	"ServicesOP.nhn.net";
		techadmin	"techadmin.nhn.net";
		netadmin	"NetAdmin.nhn.net";
		host-on-oper-up	"on";
	};
};
