ver^2.2
#
# Network Configuration File Template
# -----------------------------------------
#  Added-at:     23 August 1999 <18:00> GMT
#  Author:       codemastr <codemastr@elite-hacker.cx>
#  $Id$
# -----------------------------------------
# This is a template so you can create your own network configuration files
# Just follow the instructions and it will prolly work ;)
# 0 = No   1 = Yes
# -------------------------------------------------------
#
# These two specify the name of the IRC network, set the same in both fields
Network >..........: NeoHorizon
Set ircnetwork ....: NeoHorizon

# This is where your DNS pool is (like irc.dal.net)
Set defserv .......: irc.nhn.net

# This is the name of your Services Server
Set SERVICES_NAME .: services.nhn.net

# This is the virtual hostname IRCops will get if iNAH option is enabled
# on oper up
Set oper_host .....: IRCop.nhn.net

# This is the virtual hostname Server Admins will get if iNAH option is enabled
# on oper up
Set admin_host ....: Admin.nhn.net

# This is the virtual hostname Local IRCops will get if iNAH option is enabled
# on oper up

Set locop_host ....: Locop.nhn.net

# This is the virtual hostname Services Operators/Admins will get
# if iNAH option is enabled on oper up

Set sadmin_host ...: ServicesOP.nhn.net

# This is the virtual hostname NetAdmins will get
# if iNAH option is enabled on oper up

Set netadmin_host .: NetAdmin.nhn.net

# This is the virtual hostname CoAdmins will get
# if iNAH option is enabled on oper up
Set coadmin_host ..: Co-Admin.nhn.net


# This is the virtual hostname TechAdmins will get
# if iNAH option is enabled on oper up
Set techadmin_host : techadmin.nhn.net

# This is the prefix of the hidden host (cloaking) hostname
Set hidden_host ...: Neo
# This is the domain of the IRC network
Set netdomain .....: nhn.net
# This is where people can go for help
Set helpchan ......: #neohorizon
# This is the name of the stats server
Set STATS_SERVER ..: stats.nhn.net
# -- Not in use--
Set HUB ...........: 1
# This enables the auto-setting of f.x @netadmin.network.net 
# on oper up
Set iNAH ..........: 1
# -- Not in use but still here --
Set net_quit ......: NH
