set {
	network-name		"NeverNET";
	default-server		"IRC.NeverNET.Net";
	services-server		"Services.NeverNET.Net";
	stats-server		"Stats.NeverNET.Net";
	help-channel		"#NeverNET";
	hiddenhost-prefix	"NN";
	prefix-quit		"Quit:";
	hosts {
		local		"Opers.NeverNET.Net";
		global		"Opers.NeverNET.Net";
		coadmin		"NetAdmins.NeverNET.Net";
		admin		"Admins.NeverNET.Net";
		servicesadmin	"Services.NeverNET.Net";
		techadmin	"Tech.NeverNET.Net";
		netadmin	"Nevermore.NeverNET.Net";
		host-on-oper-up	"off";
	};
};
