set {
	network-name		"NewMilennium";
	default-server		"irc.NewMilennium.net";
	services-server		"Services.NewMilennium.net";
	stats-server		"stats.newmilennium.net";
	help-channel		"#newmilennium";
	hiddenhost-prefix	"newmilennium";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.newmilennium.net";
		global		"ircop.newmilennium.net";
		coadmin		"coadmin.newmilennium.net";
		admin		"admin.newmilennium.net";
		servicesadmin	"serviceop.newmilennium.net";
		techadmin	"techadmin.newmilennium.net";
		netadmin	"netadmin.newmilennium.net";
		host-on-oper-up	"on";
	};
};
