/*
 * PhatNet (irc.phat-net.de) Network Configuration File
 * --------------------------------------------------
 *  Date:         19 November 2000 00:49 CET(DE)
 *  Author:       [ins4ne]
 *  E-Mail:       ins4ne@phat-net.de
 * -----------------------------------------
 */

set {
        network-name            "PhatNet";
        default-server          "irc.phat-net.de";
        services-server         "service.phat-net.de";
        stats-server            "stats.phat-net.de";
        help-channel            "#phatnet";
        hiddenhost-prefix       "PHAT";
        prefix-quit             "Quit:";
        hosts {
                local           "locop.phat-net.de";
                global          "ircop.phat-net.de";
                coadmin         "coadmin.phat-net.de";
                admin           "admin.phat-net.de";
                servicesadmin   "csop.phat-net.de";
                techadmin       "techadmin.phat-net.de";
                netadmin        "admin.phat-net.de";
                host-on-oper-up "on";
        };
};
