set {
	network-name		"QKAKA";
	default-server		"chat.qkaka.com";
	services-server		"services.qkaka.com";
	stats-server		"stats.ircnet.org";
	help-channel		"#QKAKA…¥æ™DD";
	hiddenhost-prefix	"dn";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.qkaka.com";
		global		"ircop.qkaka.com";
		coadmin		"coadmin.qkaka.com";
		admin		"admin.qkaka.com";
		servicesadmin	"serviceop.qkaka.com";
		techadmin	"techadmin.qkaka.com";
		netadmin	"netadmin.qkaka.com";
		host-on-oper-up	"off";
	};
};
