set {
	network-name		"RaptaNet";
	default-server		"irc.rapta.net";
	services-server		"services.rapta.net";
	stats-server		"stats.rapta.net";
	help-channel		"#services";
	hiddenhost-prefix	"rapta";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.rapta.net";
		global		"oper.rapta.net";
		coadmin		"coadmin.rapta.net";
		admin		"admin.rapta.net";
		servicesadmin	"csop.rapta.net";
		techadmin	"techadmin.rapta.net";
		netadmin	"netadmin.rapta.net";
		host-on-oper-up	"off";
	};
};
