ver^2.2
#
# Network Configuration File Template
# -----------------------------------------
#  Added-at:     14 August 1999 16:34 GMT
#  Author:       Sandman
#  $Id$
# -----------------------------------------
# This is a template so you can create your own network configuration files
# Just follow the instructions and it will prolly work ;)
# 0 = No   1 = Yes
# -------------------------------------------------------
#
# These two specify the name of the IRC network, set the same in both fields
Network >..........: RealChat.Org
Set ircnetwork ....: RealChat.Org

# This is where your DNS pool is (like irc.dal.net)
Set defserv .......: irc.RealChat.Org

# This is the name of your Services Server
Set SERVICES_NAME .: Services.RealChat.Org

# This is the virtual hostname IRCops will get if iNAH option is enabled
# on oper up
Set oper_host .....: Oper.RealChat.Org

# This is the virtual hostname Server Admins will get if iNAH option is enabled
# on oper up
Set admin_host ....: Admins.RealChat.Org

# This is the virtual hostname Local IRCops will get if iNAH option is enabled
# on oper up

Set locop_host ....: LocalOper.RealChat.Org

# This is the virtual hostname Services Operators/Admins will get
# if iNAH option is enabled on oper up

Set sadmin_host ...: servicesOper.RealChat.Org

# This is the virtual hostname NetAdmins will get
# if iNAH option is enabled on oper up

Set netadmin_host .: NetAdmin.RealChat.Org

# This is the virtual hostname CoAdmins will get
# if iNAH option is enabled on oper up
Set coadmin_host ..: CoAdmin.RealChat.Org


# This is the virtual hostname TechAdmins will get
# if iNAH option is enabled on oper up
Set techadmin_host : TechAdmin.RealChat.Org

# This is the prefix of the hidden host (cloaking) hostname
Set hidden_host ...: realchat
# This is the domain of the IRC network
Set netdomain .....: RealChat.Org
# This is where people can go for help
Set helpchan ......: #services
# This is the name of the stats server
Set STATS_SERVER ..: stats.realchat.org
# -- Not in use--
Set HUB ...........: 1
# This enables the auto-setting of f.x @netadmin.network.net 
# on oper up
Set iNAH ..........: 0
# -- Not in use but still here --
Set net_quit ......: RC
