set {
	network-name		"RealChat.Org";
	default-server		"irc.RealChat.Org";
	services-server		"Services.RealChat.Org";
	stats-server		"stats.realchat.org";
	help-channel		"#services";
	hiddenhost-prefix	"realchat";
	prefix-quit		"Quit:";
	hosts {
		local		"LocalOper.RealChat.Org";
		global		"Oper.RealChat.Org";
		coadmin		"CoAdmin.RealChat.Org";
		admin		"Admins.RealChat.Org";
		servicesadmin	"servicesOper.RealChat.Org";
		techadmin	"TechAdmin.RealChat.Org";
		netadmin	"NetAdmin.RealChat.Org";
		host-on-oper-up	"off";
	};
};
