set {
	network-name		"ROXnet";
	default-server		"irc.roxnet.org";
	services-server		"services.roxnet.org";
	stats-server		"stats.roxnet.org";
	help-channel		"#ROXnet";
	hiddenhost-prefix	"rox";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.roxnet.org";
		global		"ircop.roxnet.org";
		coadmin		"coadmin.roxnet.org";
		admin		"admin.roxnet.org";
		servicesadmin	"csops.roxnet.org";
		techadmin	"techadmin.roxnet.org";
		netadmin	"netadmin.roxnet.org";
		host-on-oper-up	"off";
	};
};
