set {
	network-name		"SevenEagle.Com";
	default-server		"irc.seveneagle.com";
	services-server		"Services.SevenEagle.Com";
	stats-server		"Stats.SevenEagle.Com";
	help-channel		"#Help";
	hiddenhost-prefix	"SevenEagle.Com";
	prefix-quit		"Quit:";
	hosts {
		local		"Locop.SevenEagle.Com";
		global		"IRCop.SevenEagle.Com";
		coadmin		"CoAdmin.SevenEagle.Com";
		admin		"Admin.SevenEagle.Com";
		servicesadmin	"ServiceOp.SevenEagle.Com";
		techadmin	"TechAdmin.SevenEagle.Com";
		netadmin	"NetAdmin.SevenEagle.Com";
		host-on-oper-up	"on";
	};
};
