ver^2.2
#
# Unreal-Team () Network Configuration File
# --------------------------------------------------
#  Added-at:     14 July 1999 00:00 GMT
#  Author:       Stskeeps (Carsten Munk)
#  E-Mail:       stskeeps@tspre.org
#  $Id$
# -----------------------------------------
#

Network >..........: SevenEagle.Com
Set ircnetwork ....: SevenEagle.Com
Set defserv .......: irc.seveneagle.com
Set SERVICES_NAME .: Services.SevenEagle.Com
Set oper_host .....: IRCop.SevenEagle.Com
Set admin_host ....: Admin.SevenEagle.Com
Set locop_host ....: Locop.SevenEagle.Com
Set sadmin_host ...: ServiceOp.SevenEagle.Com
Set netadmin_host .: NetAdmin.SevenEagle.Com
Set coadmin_host ..: CoAdmin.SevenEagle.Com
Set hidden_host ...: SevenEagle.Com
Set netdomain .....: SevenEagle.Com
Set helpchan ......: #Help
Set STATS_SERVER ..: Stats.SevenEagle.Com
Set HUB ...........: 1
Set iNAH ..........: 1
Set net_quit ......: SE
