set {
	network-name		"SheyToyBox";
	default-server		"irc.sheytoybox.net";
	services-server		"services.sheytoybox.net";
	stats-server		"stats.sheytoybox.net";
	help-channel		"#Shey's_toybox";
	hiddenhost-prefix	"shey";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.sheytoybox.net";
		global		"ircop.sheytoybox.net";
		coadmin		"coadmin.sheytoybox.net";
		admin		"admin.sheytoybox.net";
		servicesadmin	"csops.sheytoybox.net";
		techadmin	"techadmin.sheytoybox.net";
		netadmin	"netadmin.sheytoybox.net";
		host-on-oper-up	"on";
	};
};
