set {
	network-name		"SolarGalaxy";
	default-server		"Irc.SolarGalaxy.Net";
	services-server		"Services.SolarGalaxy.Net";
	stats-server		"Stats.SolarGalaxy.Net";
	help-channel		"#SolarGalaxy";
	hiddenhost-prefix	"solargalaxy";
	prefix-quit		"Quit:";
	hosts {
		local		"Locop.SolarGalaxy.Net";
		global		"IRCop.SolarGalaxy.Net";
		coadmin		"CoAdmin.SolarGalaxy.Net";
		admin		"Admin.SolarGalaxy.Net";
		servicesadmin	"ServiceOp.SolarGalaxy.Net";
		netadmin	"NetAdmin.SolarGalaxy.Net";
		host-on-oper-up	"on";
	};
};
