ver^2.2
#
# Network Configuration File Template
# -----------------------------------------
#  $Id$
# -----------------------------------------
# This is a template so you can create your own network configuration
# files Just follow the instructions and it will prolly work ;) 0 = No   1
# = Yes -------------------------------------------------------
#
# These two specify the name of the IRC network, set the same in both
# fields
Network >..........: SolarXTreme 
Set ircnetwork ....: SolarXTreme 

# This is where your DNS pool is (like irc.dal.net)
Set defserv .......: irc.solarxtreme.net

# This is the name of your Services Server
Set SERVICES_NAME .: Services.SolarXTreme.Net

# This is the virtual hostname IRCops will get if iNAH option is enabled
# on oper up
Set oper_host .....: IRCop.SolarXTreme.Net

# This is the virtual hostname Server Admins will get if iNAH option is
# enabled on oper up
Set admin_host ....: Admin.SolarXTreme.Net

# This is the virtual hostname Local IRCops will get if iNAH option is
# enabled on oper up

Set locop_host ....: LocOp.SolarXTreme.Net	

# This is the virtual hostname Services Operators/Admins will get
# if iNAH option is enabled on oper up

Set sadmin_host ...: ServicesOp.SolarXTreme.Net

# This is the virtual hostname NetAdmins will get
# if iNAH option is enabled on oper up

Set netadmin_host .: NetAdmin.SolarXTreme.Net

# This is the virtual hostname CoAdmins will get
# if iNAH option is enabled on oper up
Set coadmin_host ..: CoAdmin.SolarXTreme.Net


# This is the virtual hostname TechAdmins will get
# if iNAH option is enabled on oper up
Set techadmin_host : TechAdmin.SolarXTreme.Net

# This is the prefix of the hidden host (cloaking) hostname
Set hidden_host ...: solar
# This is the domain of the IRC network
Set netdomain .....: solarxtreme.net
# This is where people can go for help
Set helpchan ......: #SolarHelp
# This is the name of the stats server
Set STATS_SERVER ..: Stats.SolarXTreme.Net
# -- Not in use--
Set HUB ...........: 1
# This enables the auto-setting of f.x @netadmin.network.net 
# on oper up
Set iNAH ..........: 1
# -- Not in use but still here --
Set net_quit ......: ic

