ver^2.2
Network >..........: SolarGalaxy

Set ircnetwork ....: SolarGalaxy

Set defserv .......: Irc.SolarGalaxy.Net

Set SERVICES_NAME .: Services.SolarGalaxy.Net

Set oper_host .....: IRCop.SolarGalaxy.Net

Set admin_host ....: Admin.SolarGalaxy.Net

Set locop_host ....: Locop.SolarGalaxy.Net

Set sadmin_host ...: ServiceOp.SolarGalaxy.Net

Set netadmin_host .: NetAdmin.SolarGalaxy.Net

Set coadmin_host ..: CoAdmin.SolarGalaxy.Net

Set techadmin_host : TechAdmin.SolarGalaxy.Net

Set hidden_host ...: solargalaxy

Set netdomain .....: SolarGalaxy.Net

Set helpchan ......: #SolarGalaxy

Set STATS_SERVER ..: Stats.SolarGalaxy.Net

Set HUB ...........: 1

Set iNAH ..........: 1

Set net_quit ......: sg
