set {
	network-name		"SolarXTreme ";
	default-server		"irc.solarxtreme.net";
	services-server		"Services.SolarXTreme.Net";
	stats-server		"Stats.SolarXTreme.Net";
	help-channel		"#SolarHelp";
	hiddenhost-prefix	"solar";
	prefix-quit		"Quit:";
	hosts {
		local		"LocOp.SolarXTreme.Net	";
		global		"IRCop.SolarXTreme.Net";
		coadmin		"CoAdmin.SolarXTreme.Net";
		admin		"Admin.SolarXTreme.Net";
		servicesadmin	"ServicesOp.SolarXTreme.Net";
		techadmin	"TechAdmin.SolarXTreme.Net";
		netadmin	"NetAdmin.SolarXTreme.Net";
		host-on-oper-up	"on";
	};
};
