/*
 * SpamNet (irc.spamnet.org) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     29 July 2000 00:00 GMT
 *  Author:       cij (Brian Rogers)
 *  E-Mail:       n1uro@n1uro.com
 * -----------------------------------------
 */

set {
	network-name		"SpamNet";
	default-server		"irc.spamnet.org";
	services-server		"services.spamnet.org";
	stats-server		"services.spamnet.org";
	help-channel		"#SpamNet";
	hiddenhost-prefix	"SpamNet";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.spamnet.org";
		global		"ircop.spamnet.org";
		coadmin		"coadmin.spamnet.org";
		admin		"admin.spamnet.org";
		servicesadmin	"csops.spamnet.org";
		techadmin	"techadmin.spamnet.org";
		netadmin	"netadmin.spamnet.org";
		host-on-oper-up	"on";
	};
};
