set {
	network-name		"Sparkhaven";
	default-server		"irc.sparkhaven.com";
	services-server		"services.sparkhaven.com";
	stats-server		"stats.sparkhaven.com";
	help-channel		"#services";
	hiddenhost-prefix	"user";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.akersberga.se.sparkhaven.com";
		global		"oper.akersberga.se.sparkhaven.com";
		coadmin		"coadmin.akersberga.se.sparkhaven.com";
		admin		"damin.akersberga.se.sparkhaven.com";
		servicesadmin	"csop..akersberga.se.sparkhaven.com";
		techadmin	"techadmin.akersberga.se.sparkhaven.com";
		netadmin	"netadmin.sparkhaven.com";
		host-on-oper-up	"on";
	};
};
