ver^2.2
#
# Sparkhaven (irc.sparkhaven.com) Network Configuration File
# --------------------------------------------------
# Added-at: 12 August 2000 15:22
# Author: x3ro
# Email: admin@x3ro.yi.org admin@x3ro.yi.org
# -----------------------------------------
#

Network >..........: Sparkhaven
Set ircnetwork ....: Sparkhaven
Set defserv .......: irc.sparkhaven.com
Set SERVICES_NAME .: services.sparkhaven.com
Set oper_host .....: oper.akersberga.se.sparkhaven.com
Set admin_host ....: damin.akersberga.se.sparkhaven.com
Set locop_host ....: locop.akersberga.se.sparkhaven.com
Set sadmin_host ...: csop..akersberga.se.sparkhaven.com
Set netadmin_host .: netadmin.sparkhaven.com
Set coadmin_host ..: coadmin.akersberga.se.sparkhaven.com
Set techadmin_host : techadmin.akersberga.se.sparkhaven.com
Set hidden_host ...: user
Set netdomain .....: sparkhaven.com
Set helpchan ......: #services
Set STATS_SERVER ..: stats.sparkhaven.com
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use
