ver^2.2
#
# SpiN (irc.SpinEmpire.com) Network Configuration File
# --------------------------------------------------
# Added-at: 12 November 2000 04:26
# Author: chris
# Email: chris@netherrealm.org <mailto:chris@netherrealm.org>
# -----------------------------------------
#

Network >..........: SpiN
Set ircnetwork ....: SpiN
Set defserv .......: irc.SpinEmpire.com
Set SERVICES_NAME .: Services.SpinEmpire.com
Set oper_host .....: Oper.SpinEmpire.org
Set admin_host ....: Admin.SpinEmpire.com
Set locop_host ....: LocalOper.SpinEmpire.com
Set sadmin_host ...: ServicesOper.SpinEmpire.com
Set netadmin_host .: NetAdmin.SpinEmpire.com
Set coadmin_host ..: CoAdmin.SpinEmpire.com
Set techadmin_host : TechAdmin.SpinEmpire.com
Set hidden_host ...: Spin
Set netdomain .....: SpinEmpire.com
Set helpchan ......: #Lobby
Set STATS_SERVER ..: Stats.SpinEmpire.com
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use

