set {
	network-name		"SpiN";
	default-server		"irc.SpinEmpire.com";
	services-server		"Services.SpinEmpire.com";
	stats-server		"Stats.SpinEmpire.com";
	help-channel		"#Lobby";
	hiddenhost-prefix	"Spin";
	prefix-quit		"Quit:";
	hosts {
		local		"LocalOper.SpinEmpire.com";
		global		"Oper.SpinEmpire.org";
		coadmin		"CoAdmin.SpinEmpire.com";
		admin		"Admin.SpinEmpire.com";
		servicesadmin	"ServicesOper.SpinEmpire.com";
		techadmin	"TechAdmin.SpinEmpire.com";
		netadmin	"NetAdmin.SpinEmpire.com";
		host-on-oper-up	"on";
	};
};
