set {
	network-name		"SpyNet";
	default-server		"irc.SpyNet.Org";
	services-server		"Services.SpyNet.Org";
	stats-server		"stats.SpyNet.Org";
	help-channel		"#SpyNet";
	hiddenhost-prefix	"Spy";
	prefix-quit		"Quit:";
	hosts {
		local		"LocalOper.SpyNet.Org";
		global		"IRCops.SpyNet.Org";
		coadmin		"CoAdmin.SpyNet.Org";
		admin		"Admin.SpyNet.Org";
		servicesadmin	"Sops.SpyNet.Org";
		techadmin	"TechAdmin.SpyNet.Org";
		netadmin	"NetAdmin.SpyNet.Org";
		host-on-oper-up	"off";
	};
};
