ver^2.2
# SpyNet Network Configuration File
# -----------------------------------------
#  Added-at:     23 August 1999 18:00 GMT
#  Author:       Son|c
#  E-Mail:       stskeeps@global-irc.net
#  $Id$
# -----------------------------------------
#

Network >..........: SpyNet
Set ircnetwork ....: SpyNet
Set defserv .......: irc.SpyNet.Org
Set SERVICES_NAME .: Services.SpyNet.Org
Set oper_host .....: IRCops.SpyNet.Org
Set admin_host ....: Admin.SpyNet.Org
Set locop_host ....: LocalOper.SpyNet.Org
Set sadmin_host ...: Sops.SpyNet.Org
Set netadmin_host .: NetAdmin.SpyNet.Org
Set coadmin_host ..: CoAdmin.SpyNet.Org
Set hidden_host ...: Spy
Set netdomain .....: SpyNet.Org
Set helpchan ......: #SpyNet
Set STATS_SERVER ..: stats.SpyNet.Org
Set HUB ...........: 0
Set iNAH ..........: 0
Set net_quit ......: SN
