set {
	network-name		"StarSpace";
	default-server		"IRC.StarSpace.Net";
	services-server		"Services.StarSpace.Net";
	stats-server		"Stats.StarSpace.Net";
	help-channel		"#OperHelp";
	hiddenhost-prefix	"starspace";
	prefix-quit		"Quit:";
	hosts {
		local		"Local.StarSpace.Net";
		global		"Global.StarSpace.Net";
		coadmin		"CoAdmin.StarSpace.Net";
		admin		"Admin.StarSpace.Net";
		servicesadmin	"ServOp.StarSpace.Net";
		techadmin	"TechAdmin.StarSpace.Net";
		netadmin	"NetAdmin.StarSpace.Net";
		host-on-oper-up	"on";
	};
};
