/*
 * StarEquinox IRC Network (irc.StarEquinox.Net) Network
Configuration File
 *
 * Added-at:     10 September 2001 13:54
 * Author: Starfire
 * Email: trish@starequinox.net
 */

set {
network-name "StarEquinox IRC Network";
default-server "irc.StarEquinox.Net"; 
services-server "Services.StarEquinox.Net";
stats-server "Stats.StarEquinox.Net";
help-channel "#help";
hiddenhost-prefix "star";
hosts {
local "Oper.StarEquinox.Net";
global "Oper.StarEquinox.Net";
coadmin "CoAdmin.StarEquinox.Net";
admin "Admin.StarEquinox.Net";
servicesadmin "Oper.StarEquinox.Net";
netadmin "NetAdmin.StarEquinox.Net";
host-on-oper yes;
};
};

