set {
	network-name		"StaticEdge";
	default-server		"irc.staticedge.com";
	services-server		"Services.StaticEdge.Com";
	stats-server		"Stats.StaticEdge.Com";
	help-channel		"#StaticEdge";
	hiddenhost-prefix	"static";
	prefix-quit		"Quit:";
	hosts {
		local		"LocalOps.StaticEdge.Com";
		global		"Opers.StaticEdge.Com";
		coadmin		"CoAdmins.StaticEdge.Com";
		admin		"Admins.StaticEdge.Com";
		servicesadmin	"CSOps.StaticEdge.Com";
		techadmin	"TechAdmins.StaticEdge.Com";
		netadmin	"NetAdmin.StaticEdge.Com";
		host-on-oper-up	"on";
	};
};
