ver^2.2
#
# Subtrex.Net (Irc.Subtrex.net) Network Configuration File
# --------------------------------------------------
# Added-at: 06 November 2000 21:50
# Author: J-E-L-L-O
# Email: rustyz82@hotmail.com
# -----------------------------------------
#

Network >..........: Subtrex.Net
Set ircnetwork ....: Subtrex.Net
Set defserv .......: Irc.Subtrex.net
Set SERVICES_NAME .: Services.subtrex.net
Set oper_host .....: Oper.Subtrex.Net
Set admin_host ....: Admin.Subtrex.Net
Set locop_host ....: Locop.Subtrex.Net
Set sadmin_host ...: Csop.Subtrex.Net
Set netadmin_host .: Netadmin.Subtrex.Net
Set coadmin_host ..: Coadmin.Subtrex.Net
Set techadmin_host : Techadmin.Subtrex.NEt
Set hidden_host ...: Subtrex
Set netdomain .....: Subtrex.Net
Set helpchan ......: #subtrex
Set STATS_SERVER ..: Services.Subtrex.Net
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use

