set {
	network-name		"Subtrex.Net";
	default-server		"Irc.Subtrex.net";
	services-server		"Services.subtrex.net";
	stats-server		"Services.Subtrex.Net";
	help-channel		"#subtrex";
	hiddenhost-prefix	"Subtrex";
	prefix-quit		"Quit:";
	hosts {
		local		"Locop.Subtrex.Net";
		global		"Oper.Subtrex.Net";
		coadmin		"Coadmin.Subtrex.Net";
		admin		"Admin.Subtrex.Net";
		servicesadmin	"Csop.Subtrex.Net";
		techadmin	"Techadmin.Subtrex.NEt";
		netadmin	"Netadmin.Subtrex.Net";
		host-on-oper-up	"on";
	};
};
