

set {
	network-name		"IRC"; // sets the name of your network
	default-server		"irc.ircnet.org"; // sets the address of your default server (like irc.dal.net)
	services-server		"services.ircnet.org"; // sets the name of your services server
	stats-server		"stats.ircnet.org"; // sets the name of your stats server
	help-channel		"#IRC"; // sets the name of your help channel
	hiddenhost-prefix	"mpx"; // sets the prefix for the hidden hosts
	prefix-quit		"Quit:"; // sets the first word to be used in a quit message
	hosts {
		local		"locop.ircnet.org"; // sets the host to be given to locops
		global		"ircop.ircnet.org"; // sets the host to be given to global ops
		coadmin		"coadmin.ircnet.org"; // sets the host to be given to coadmins
		admin		"admin.ircnet.org"; // sets the host to be given to admins
		servicesadmin	"serviceop.ircnet.org"; // sets the host to be given to services admins
		netadmin	"netadmin.ircnet.org"; // sets the host to be given to netadmins
		host-on-oper-up	"off"; // sets whether to assign the hosts on oper up
	};
};
