set {
	network-name		"IRC";
	default-server		"irc.ircnet.org";
	services-server		"services.ircnet.org";
	stats-server		"stats.ircnet.org";
	help-channel		"#IRC";
	hiddenhost-prefix	"mpx";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.ircnet.org";
		global		"ircop.ircnet.org";
		coadmin		"coadmin.ircnet.org";
		admin		"admin.ircnet.org";
		servicesadmin	"serviceop.ircnet.org";
		techadmin	"techadmin.ircnet.org";
		netadmin	"netadmin.ircnet.org";
		host-on-oper-up	"off";
	};
};
