ver^2.2
#
# TierraRed (irc.tierrared.com) Network Configuration File
# --------------------------------------------------
# Added-at: 19 noviembre 2000 20:22
# Author: NeO
# Email: neo@tierrared.com
# -----------------------------------------
#

Network >..........: TierraRed
Set ircnetwork ....: TierraRed
Set defserv .......: irc.tierrared.com
Set SERVICES_NAME .: sol.tierrared.com
Set oper_host .....: oper.tierrared.com
Set admin_host ....: ADMIN.tierrared.com
Set locop_host ....: LocalOP.tierrared.com
Set sadmin_host ...: Cservice.tierrared.com
Set netadmin_host .: NetADMIN.tierrared.com
Set coadmin_host ..: CoADMIN.tierrared.com
Set hidden_host ...: hide
Set netdomain .....: tierrared.com
Set helpchan ......: #opers_help
Set STATS_SERVER ..: stats.tierrared.com
Set HUB ...........: not_in_use
Set iNAH ..........: 1
Set net_quit ......: not_in_use

