set {
	network-name		"TierraRed";
	default-server		"irc.tierrared.com";
	services-server		"sol.tierrared.com";
	stats-server		"stats.tierrared.com";
	help-channel		"#opers_help";
	hiddenhost-prefix	"hide";
	prefix-quit		"Quit:";
	hosts {
		local		"LocalOP.tierrared.com";
		global		"oper.tierrared.com";
		coadmin		"CoADMIN.tierrared.com";
		admin		"ADMIN.tierrared.com";
		servicesadmin	"Cservice.tierrared.com";
		techadmin	"TechAdm.tierrared.com";
		netadmin	"NetADMIN.tierrared.com";
		host-on-oper-up	"on";
	};
};
