set {
	network-name		"Treklink";
	default-server		"irc.treklink.net";
	services-server		"services.uip.org";
	stats-server		"stats.treklink.net";
	help-channel		"#uip";
	hiddenhost-prefix	"TL";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.treklink.net";
		global		"ircop.treklink.net";
		coadmin		"coadmin.treklink.net";
		admin		"admin.treklink.net";
		servicesadmin	"serviceop.treklink.net";
		techadmin	"techadmin.treklink.net";
		netadmin	"netadmin.treklink.net";
		host-on-oper-up	"on";
	};
};
