set {
	network-name		"TSpre";
	default-server		"irc.tspre.org";
	services-server		"services.tspre.org";
	stats-server		"stats.tspre.org";
	help-channel		"#TSpre";
	hiddenhost-prefix	"ts";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.tspre.org";
		global		"ircop.tspre.org";
		coadmin		"coadmin.tspre.org";
		admin		"admin.tspre.org";
		servicesadmin	"serviceop.tspre.org";
		netadmin	"netadmin.tspre.org";
		host-on-oper-up	"off";
	};
};
