set {
	network-name		"TuTKu.Net";
	default-server		"irc.tutku.net";
	services-server		"services.tutku.net";
	stats-server		"Stats.TuTKu.Net";
	help-channel		"#HeLp";
	hiddenhost-prefix	"TuTKu";
	prefix-quit		"Quit:";
	hosts {
		local		"LoCoP.TuTKu.NeT";
		global		"IrCoP.TuTKu.NeT";
		coadmin		"CoAdmiN.TuTKu.NeT";
		admin		"AdmiN.TuTKu.NeT";
		servicesadmin	"Csop.TuTKu.Net";
		techadmin	"TecHAdmiN.TuTKu.NeT";
		netadmin	"NetAdmiN.TuTKu.NeT";
		host-on-oper-up	"on";
	};
};
