/*
 * united-irc (irc.united-irc.net) Network Configuration File
 * --------------------------------------------------
 *  Added-at:     24 Mai 2001 12:52
 *  Author: Madkiss
 *  Email: madkiss@rylpz.de
 * -----------------------------------------
 */

set {
        network-name            "united-irc";
        default-server          "irc.united-irc.net";
        services-server         "services.united-irc.net";
        stats-server            "stats.united-irc.net";
        help-channel            "#help";
        hiddenhost-prefix       "hide";
        prefix-quit             "Quit:";
        hosts {
                local           "locop.united-irc.net";
                global          "oper.united-irc.net";
                coadmin         "coadmin.united-irc.net";
                admin           "admin.united-irc.net";
                servicesadmin   "csop.united-irc.net";
                techadmin       "techadmin.united-irc.net";
                netadmin        "netadmin.united-irc.net";
                host-on-oper-up "on";
        };
};
