set {
	network-name		"UnitedIRC";
	default-server		"irc.unitedirc.com";
	services-server		"services.unitedirc.com";
	stats-server		"stats.unitedirc.com";
	help-channel		"#UnitedIRC";
	hiddenhost-prefix	"UnitedIRC";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.unitedirc.com";
		global		"ircop.unitedirc.com";
		coadmin		"coadmin.unitedirc.com";
		admin		"admin.unitedirc.com";
		servicesadmin	"csops.unitedirc.com";
		techadmin	"techadmin.unitedirc.com";
		netadmin	"netadmin.unitedirc.com";
		host-on-oper-up	"on";
	};
};
