set {
	network-name		"UzayNet";
	default-server		"uzaynet.com";
	services-server		"service.uzaynet.com";
	stats-server		"statserv.uzaynet.com";
	help-channel		"#Help";
	hiddenhost-prefix	"UzayNet";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.uzaynet.com";
		global		"ircop.uzaynet.com";
		coadmin		"coadmin.uzaynet.com";
		admin		"admin.uzaynet.com";
		servicesadmin	"serviceop.uzaynet.com";
		techadmin	"techadmin.uzaynet.com";
		netadmin	"netadmin.uzaynet.com";
		host-on-oper-up	"on";
	};
};
