set {
	network-name		"V64net";
	default-server		"irc.v64.net";
	services-server		"services.v64.net";
	stats-server		"stats.v64.net";
	help-channel		"#HELP";
	hiddenhost-prefix	"V64net";
	prefix-quit		"Quit:";
	hosts {
		local		"locop.v64.net";
		global		"ircop.v64.net";
		coadmin		"coadmin.v64.net";
		admin		"admin.v64.net";
		servicesadmin	"serviceop.v64.net";
		techadmin	"techadmin.v64.net";
		netadmin	"netadmin.v64.net";
		host-on-oper-up	"off";
	};
};
