
extern "C" const char *_MODULE__getVersion()
{
	return _MODULE__Module::getVersion();
}

extern "C" const char *_MODULE__getName()
{
	return _MODULE__Module::getName();
}

extern "C" const char *_MODULE__getCopyright()
{
	return _MODULE__Module::getCopyright();
}

